.header{
	color: white;
	background-color: #5B2C6F;
	padding: 5px;
	margin-bottom: 10px;
	font-style: italic;
}

h1{
	font-family: serif;
	font-size: 50px;
}

.left-col
{
	text-align:center;
	font-family: Cursive,Lucida Handwriting;
	width: 25%;
	float:left;
}
.right-col 
{
	text-align:center;
	font-family: Cursive,Lucida Handwriting;
	width: 25%;
	float:left;
	src.padding-bottom: 10px;

}
.center-col
{
    font-family: Sans-serif	Arial;
    word-spacing: 1ex;
	text-align:center;
	width: 50%;
	float: left;
	background-color: #D1F2EB;
	color: black;
	
}
.cc1
{
	text-align: left;
	 font-family: Sans-serif,Helvetica;
	 background-color: yellow ;
	 height: 312px;
	 width: 300px;
	 padding-bottom: 30px;
	 color: white;
	 
}
table, th, td {
    border: 1px solid #000000;
    font-size: 30px;
    margin-left: 70px;
   
}
th{
    padding: 10px;
     background-color:#48C9B0;
}
td {
    padding: 10px;
    background-color:white;
}
.f1 
{
	padding: 20px;
	background-color:#f1b1c5;

}
.fg{
	padding-bottom: 20px;


}
.f1 input
{
	padding: 10px;

}
.row
{
	list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #000000;
}
.row
{
  float: left;
}

.row
 {
  display: block;
  color: #FFC900;
  text-align: center;
  padding: 10px;
  width: 10%;
  margin: auto;
  text-decoration: none;
  font-style: bold;
}
.row
 {
  background-color:#000000;
}

.cc3{
	background-color: #6CF366 ;
	font-family: Times New Roman;

}